<section id="portfolio" class="download bg-primary text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="section-heading"><strong>Sous traitants</strong></h2>
        </div>
      </div>
      <p style="font-size: 40px;">Trouvez rapidement de nouveaux chantiers et soyez reconnu pour la qualité de vôtre travail.</p>
    </div>
</section>

<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="{{ site.baseurl }}img/demo-screen-2.png" class="img-responsive" alt=""> </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <img src="img/nouveau-icon.png" alt="">
                                <h3>Trouver de nouveaux chantiers</h3>
                                <p class="text-muted">Trouver de nouveaux chantiers en fonction de vos spécialités.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <img src="img/info-icon.png" alt="">
                                <h3>Prendre des informations sur le chantier</h3>
                                <p class="text-muted">Prises-en compte du coût, du délai et de l'ensemble des tâches à effectuer.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <img src="img/don-ordre-icon.png" alt="">
                                <h3>Prendre contact avec un donneur d'ordre</h3>
                                <p class="text-muted">Elargir son réseau professionel</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <img src="img/envoi-2.png" alt="">
                                <h3>Envoi de devis au donneur d'ordre</h3>
                                <p class="text-muted">Remplir son carnet de commande.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
              <h3>Trouvez facilement de nouveaux chantiers.</h3>
              <a href="#" style="color:black" class="btn btn-outline btn-xl">S'inscrire</a>
            </div>

        </div>
</section>
