    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="/img/demo-sceen3.png" class="img-responsive" alt=""> </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <img src="/img/sous-traitant-icon.png" alt="">
                                    <h3>Trouver rapidement un sous traitant qualifier</h3>
                                    <p class="text-muted">En fonction d'une zone d'intervention déterminé à l'avance par le sous-traitant</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <img src="/img/administratif-icon.png" alt="">
                                    <h3>Vérifier son état administratif</h3>
                                    <p class="text-muted">Documents administratif à jour nécessaire à la signature d'un contrat
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <img src="/img/calendrier-icon.png" alt="">
                                    <h3>Vérifier sa disponibilité</h3>
                                    <p class="text-muted">Réactivité d'intervention sur les chantiers</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <img src="/img/envoi-icon.png" alt="">
                                    <h3>Attribuer un chantier</h3>
                                    <p class="text-muted">Simplicité, rapidité, fiabilité</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                  <h3>Faites vôtre choix de sous traitants selon les prestations.</h3>
                  <a target="_blank" href="https://m.do.co/c/a29d90274371" style="color:black" class="btn btn-outline btn-xl">S'inscrire</a>
                </div>

            </div>
    </section>
